// Font family
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Signika', sans-serif;

// Font styles
$xl-font-size: 3em;
$large-font-size: 2em;
$medium-font-size: 1.5em;
$small-font-size: 1.2em;
$primary-font-size: 1em;
$secondary-font-size: 0.875em;
$regular-font-weight: 400;
$bold-font-weight: 600;

// Colors
$primary-font-color: #4A4A4A;
$primary-accent-color: #A180AF;
$primary-accent-hover-color: #754988;
$secondary-accent-color: #A55958;
$secondary-accent-hover-color: #813635;
$gray-bg-color: #F6F6F6;
$topbar-bg-color: #DAF0F2;
$topbar-icon-bg-color: #726C89;
$topbar-icon-bg-hover-color: #4a4365;
$call-to-atn-bg-color: #A4D9DF;
$footer-bg-color: #464B51;
$copyright-bg-color: #383C41;
$footer-social-icon-color: #4C4666;