section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:992px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.container,
.container-fluid {
    max-width: 1400px;
}