footer {
    padding: 60px 0 15px 0;
    background: $footer-bg-color;
    h3 {
        font-size: $small-font-size;
        color: #fff;
        margin-bottom: 30px;
        font-weight: $regular-font-weight;
        @media screen and (min-width: 1370px) {
            font-size: $medium-font-size;
        }
    }
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
    .btn {
        width: 100%;
        font-size: 0.75em;
        @media screen and (min-width:991px) and (max-width:1080px) {
            font-size: 0.6em;
        }
        @media screen and (min-width:1200px) {
            font-size: $secondary-font-size;
        }
    }
    @media screen and (min-width:992px) {
        padding: 80px 30px;
    }
}

footer .row .col-lg-4:nth-child(2) {
    padding: 60px 15px;
    @media screen and (min-width:767px) {
        padding: 0 15px;
    }
}

.footer-contact,
.footer-social,
.footer-hours {
    @include list;
}

.footer-contact li {
    margin-bottom: 20px;
    display: flex;
}

.footer-icon {
    @include icon-small {
        background: $primary-accent-color;
        margin-right: 20px;
    }
    i {
        color: #fff;
        line-height: 30px;
        font-size: $primary-font-size;
    }
    &:hover,
    &:focus {
        background: $primary-accent-hover-color;
    } 
}

.footer-social {
    margin-top: 30px;
    margin-bottom: 0;
    li {
        display: inline-block;
    }
    .footer-icon {
        width: 45px;
        height: 45px;
        background: #fff;
        transition: opacity 0.8s;
        i {
            color: $footer-social-icon-color;
            font-size: $medium-font-size;
            line-height: 45px;
        }
        &:hover,
        &:focus {
            opacity: 0.7;
        }
    } 
} 

.footer-hours li {
    border-bottom: 1px solid #979797;
    color: #fff;
    padding: 10px 0;
    span {
        float: right;
    }
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
    }
}

.footer-logo {
    display: none;
    @media screen and (min-width:1200px) {
        display: inherit;
        position: relative;
        top: 130px;
        img {
            padding-right: 30px;
        }
    }
} 

.mobile-footer-logo {
    margin: 30px auto 0 auto;
    img:first-child {
        padding-right: 30px;
    }
    @media screen and (min-width:1200px) {
        display: none;
    }
}

#copyright {
    background: $copyright-bg-color;
    text-align: center;
    padding: 30px 0;
    p {
        color: #fff;
        margin: 0;
        font-size: $secondary-font-size;
    }
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    width: 50px;
    height: 50px;
    text-align: center;
    background: $primary-accent-color;
    i {
        color: #fff;
        font-size: $medium-font-size;
        line-height: 50px;
    }
}